* {
    padding: 0;
    margin: 0;
    background-color: #ff9f7a;
    font-family: montserrat;
}

.nav-bar {
    width: 100%;
    height: 40px;
    background-color: #008080;
    z-index: 9;
}

ul {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    float: left;
    margin-top: 10px;
    background-color: transparent;
}

li {
   list-style-type: none;
   margin: 0 20px;
   color: #ff9f7a;
   background-color: transparent;
}

@media only screen and (max-width: 650px) {
    .nav-bar {
        width: 100%;
        height: 120px;
        background-color: #008080;
        z-index: 9;
        display: flex;
        justify-content: center;
    }
    
    ul {
        display: flex;
        flex-flow: column;
        justify-content: space-around;
        align-items: center;
        float: left;
        margin-top: 10px;
        background-color: transparent;
    }
    
    li {
       list-style-type: none;
       margin: 0 20px;
       color: #ff9f7a;
       background-color: transparent;
    }
}

/* Banner Section */

.banner {
    display: flex;
    align-items: center;
    width: 100%;
    height: 400px;
}

.banner .content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.4);
    height: 100px;
    width: 100%;
}

.banner .content h1 {
    background-color: transparent;
    color: #ff7f50;
    font-weight: 400;
    font-size: 36px;
}

/* Mid Section */

.mid-sec {
    margin: 60px auto;
}

.bullshit {
    margin-left: 15px;
}

.bullshit h2 {
    font-weight: 400;
    margin-bottom: 15px;
    color: yellow;
}

.bullshit p {
    max-width: 100%;
    color: #fff;
    margin-bottom: 40px;
}

.images-1 {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: auto;
}

.images-1 .image {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
}

.images-1 img {
    width: 90%;
    height: auto;
}

@media only screen and (max-width: 1050px) {
    .images-1 {
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    .images-1 .image {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100%;
    }

    .images-1 img {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }
}

/* Third Section */

.third-sec {
    background-color: #008080;
    height: 360px;
    position: relative;  
}

.bullshit-2 {
    position: absolute;
    margin: 20px 20px;
    background-color: transparent;
}

.third-sec h1{
    top: 50px;
    font-size: 40px;
    font-weight: 400;
    color: yellow;
    background-color: transparent;
    margin-bottom: 20px;
    min-width: 500px;
}

.third-sec p {
    top: 150px;
    color: yellow;
    background-color: transparent;
}

/* Images 2 */

.images-2 {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: auto;
    margin: 60px auto;
}

.images-2 .image {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
}

.images-2 img {
    width: 90%;
    height: auto;
}

@media only screen and (max-width: 1050px) {
    .images-2 {
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    .images-2 .image {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100%;
    }

    .images-2 img {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }
}

/* Last Section */

.last-content {
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
    margin: 20px auto;
}

.last-content .last-img {
    margin: 20px 20%;
    height: auto;
}

.last-content img {
    width: 100%;
    height: auto;
}

.last-content h1 {
    color: yellow;
    font-size: 36px;
    font-weight: 400;
}